/* start| Particle settings */
#particle_settings {
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    font-size: 0.8em;
}
.p-setting {
    display: inline-block;
    vertical-align: middle;
}
/*  end| Particle settings */